.table {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: auto;
    height: 100px;
}

.square {
    width: 85px;
    height: 55px;
    margin: 0px;
    outline: 1px solid;

    background: #FFFFFF;
}

.selected {
    filter: brightness(20%);
}
