.main {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.rowSpacing {
    margin-bottom: 5px;
}

.redTint{
    background-image: linear-gradient(red, white)
}

.blueTint{
    background-image: linear-gradient(blue, white)
}

.playerOneCursor {
    cursor: url('./assets/cursors/playerOneCursor.png'), auto
}

.playerTwoCursor {
    cursor: url('./assets/cursors/playerTwoCursor.png'), auto
}

.portraits {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 1125px;
    margin: auto;
    justify-content: center;
}

.image {
    width: 40px;
    height: 100%;
    margin: 0px;
    outline: 1px solid;
}

.selected {
    filter: brightness(20%);
    opacity: 60%
}

.hideElement {
    position: absolute !important;
    top: -9999px !important;
    left: -9999px !important;
}

.border {
    border-style: solid;
    border-width: 3px;
}

#playerOne {
    border-right: 0px;
}


.playerBar {
    max-width: 100px;
}

.playerScore {
    margin: 0px;
}

#playerOneButton {
    background-color: rgb(252 158 160);
}

#playerTwoButton {
    background-color: rgb(158 206 252);
}

.scores {
    margin: auto;
    display: flex;
    flex-direction: row;
}





@media screen and (min-width: 227px) {
    .image {
        width: 65px;
    }
}

@media screen and (min-width: 393px) {
    .image {
        width: 120px;
        height: 70px;
    }
}

@media screen and (min-width: 698px) {
    .playerBar {
        max-width: 175px;
    }
    
    .playerScore {
        margin: auto;
    }


}